---
const { labels } = Astro.props;
---

<header id="home">
  <div class="container header-container">
    <h1>{labels.header_title}</h1>

    <p class="header-subtitle">{labels.header_subtitle}</p>

    <a href="#about-us" class="btn btn-discover-more">{labels.discover_more}</a>
  </div>
</header>

<style lang="scss">
  @use "../../styles/colors";

  header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100vh - 60px);

    margin-top: 60px;

    background: url(../../assets/img/landing-hero-bg.png) no-repeat center
      center / cover fixed;
    color: colors.$black;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(#000, 0.2);
      z-index: 1;
      pointer-events: none;
    }
  }

  .header-container {
    position: relative;
    z-index: 2;
  }

  h1 {
    font-size: 30px;
    white-space: pre-wrap;
    line-height: 1.2;

    color: colors.$white;
  }

  .header-subtitle {
    max-width: 350px;
    width: 100%;

    margin-top: 16px;
    margin-bottom: 24px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    color: rgba(colors.$white, 1);
  }

  .btn-discover-more {
    max-width: 250px;
    width: 100%;
  }
</style>
