---
import IconList from "phosphor-astro/List.astro";
import IconClose from "phosphor-astro/X.astro";

const { labels } = Astro.props;
---

<nav id="top-bar" class="top-bar">
  <div class="container top-bar-container">
    <div class="logo">
      <a href="/" class="logo-link">
        <img src="/assets/logo.svg" alt="Logo" class="logo-image" />
      </a>
    </div>

    <div class="spacer"></div>

    <ul class="nav-links" id="nav-links">
      <li class="close">
        <button class="btn-icon btn-close">
          <IconClose />
        </button>
      </li>
      <li><a href="/">{labels.home}</a></li>
      <li><a href="#about">{labels.about}</a></li>
      <li><a href="#contact">{labels.contact}</a></li>
    </ul>

    <div class="spacer"></div>

    <div class="actions">
      <button class="btn-icon" id="btn-show-menu">
        <IconList />
      </button>
    </div>
  </div>
</nav>

<style lang="scss">
  @use "../../styles/colors";

  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;

    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    color: colors.$black;
  }

  .top-bar-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  ul.nav-links {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 14px;

    list-style: none;

    background-color: rgba(colors.$white, 0.7);
    backdrop-filter: blur(30px);

    &.visible {
      display: flex;
    }

    li.close {
      position: absolute;
      top: 14px;
      right: 20px;

      .btn-close {
        background-color: colors.$white;

        &:hover {
          background-color: inherit;
        }
      }
    }

    a {
      text-decoration: none;
      color: colors.$black;
      font-size: 20px;
      font-weight: 500;

      transition: all 0.3s ease;

      &:hover {
        color: colors.$primary;
      }
    }
  }
</style>

<script>
  const closeMenu = () => {
    const menu = document.getElementById("nav-links");
    if (menu) {
      menu.classList.remove("visible");
    }
  };

  const showMenu = () => {
    const menu = document.getElementById("nav-links");
    if (menu) {
      menu.classList.add("visible");
    }
  };

  document.getElementById("btn-show-menu")?.addEventListener("click", showMenu);
  document.querySelector(".btn-close")?.addEventListener("click", closeMenu);
  document.querySelectorAll(".nav-links a").forEach((link) => {
    link.addEventListener("click", () => {
      setTimeout(closeMenu, 300);
    });
  });
</script>
